body{
    margin: 0px;
    padding: 0px; 
    background: #f1f1f1;
    font-family: arial;
    box-sizing:border-box;
}
.card-container{
    width: 300px;
    height: 430px;
    background: #FFF;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overFlow: hidden;
    display: inline-block;
}
.upper-container{
    height: 150px;
    background:darkgrey;
}
.image-container{
    background: white;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(100px,100px);
}
.image-container img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.lower-container{
    height: 280px;
    background: #fff;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}
.lower-container h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}
.lower-container h4{
    color: grey;
    opacity: .6;
    font-weight: bold;
}
.lower-container p{
    font-size: 16px;
    color:gray;
    margin-bottom: 30px;
}
.lower-container .btn{
    padding: 12px 20px;
    background:darkgrey;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
}
.lower-container .btn:hover{
    background: transparent;
    color: darkgrey;
    border: 2px solid darkgrey;
}
#linha {
    height: 900px;
    width: 5%;
    border-right: 3px solid darkgrey;
    position: fixed;
    top: 50%;
    left: 46%;
    transform: translate(-50%,-50%); 
}
.Formulario{
    width: 300px;
    height: 430px;
    background: #FFF;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 74%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overFlow: hidden;
    display: inline-block;
}
.cor-fundo{
    height: 900px;
    background:darkgrey;
}
input{
    width: 280px;
    border-radius: 6px;
     margin-bottom: 50px;
    cursor: pointer;
}
#nome{
    width: 90%;
    top: 13%;
    left: 4%;
    height: 28px;
    position:fixed;
   }
#Profissão{
    width: 90%;
    top: 33%;
    left: 4%;
    height: 28px;
    position:fixed;
   }
 #biografia{
    width: 90%;
    top: 52%;
    left: 4%;
    height: 28px;
    position:fixed;
 }
 #Imagem{
    width: 71%;
    top: 71%;
    left: 4%;
    height: 28px;
    position:fixed;
   }  
   #arquivo{
    width: 15%;
    top: 71%;
    left: 81%;
    height: 34px;
    position:fixed;
    font: 25px Arial, Helvetica, sans-serif;
   }  
   form input[type="submit"]{
    cursor: pointer;
    background: lightgoldenrodyellow;
    color:black;
    border: 10px;
    border-radius: 5px;
    transition:1s;
   }
   form input[type="submit"]:hover{
    background: transparent;
    color: black;
    border: 2px solid black;
}
   form input[type=reset]{
    width: 90%;
    height:30px;
    cursor: pointer;
    background: black;
    color:white;
    border: 10px;
    border-radius: 5px;
    transition:1s;
    top: 90%;
    left: 5%;
    position:fixed;
}
form input[type=reset]:hover{
    background: transparent;
    color: black;
    border: 2px solid black;
}
form label[ for="nome"]{
    width: 22%;
    top: 7%;
    left: 39%;
    position:fixed;
}
form label[ for="Profissão"]{
    width: 22%;
    top: 27%;
    left: 36%;
    position:fixed;
}
form label[ for="Imagem"]{
    width: 22%;
    top: 65%;
    left: 37%;
    position:fixed;
}
form label[for="biografia"]{
    width: 22%;
    top: 46%;
    left: 37%;
    position:fixed;
}