*{margin:16;padding:1;box-sizing:content-box;}

   body{
       background-color:white;


   }

  input{
    width: 180px;
    border-radius: 5px;
     margin-bottom: 20px;
    cursor: pointer;

}

 .corpo-do-formulario{
	padding: 150px;
    margin-bottom: 30px;
   border-width: 1px 1px 1px 1px;
   border-radius: 10px;
   border-style:groove;
   border-color:#3498DB
}
    .corpo-do-formulario label{
	display: flexbox;
    text-align: center;
	font: 15px Arial, Helvetica, sans-serif;
	color: black;
    }

   form{
       background-color: white;
       max-width: 1500px;
       width:70%;
       padding:100px;
       position:absolute;
       left: 49%;
       top: 47%;
       transform: translate(-50%,-50%);

   }

   form label[ for="nome"]{
    width: 15%;
    top: 32%;
    left: 13%;
    position:fixed;

   }
   form label[for="idade"]{
    width: 53%;
    top: 32%;
    left: 13%;
    position:fixed;
   }
   form label[for="pais"]{
    width: 89%;
    top: 32%;
    left: 13%;
    position:fixed;
   }
   form input[type=submit]{
       width: 15%;
       height:22px;
       cursor: pointer;
       background: #3498DB;
       color:white;
       border: 10px;
       border-radius: 5px;
       transition:1s;
   }
   form input[type=submit]:hover{
       background-color: #191970;
   }

   #dados{
    background-color:  rgba(128, 128, 128, 0.212);
    width: 94%;

    border-collapse:collapse;
}


    #dados th, td {
    border: 1px solid;
    padding: 2px;
    text-align:justify;
  }
    #dados th {
    background-color:#4169E1;
    color: white;
    font: 15px Arial, Helvetica, sans-serif;
    text-align: center;
  }
