*{margin:10;padding:1;box-sizing:content-box;}

   body{
       background-color:rgba(128, 128, 128, 0.658);
   }



  
  input{
    width: 130px;
    border-radius: 5px;
     margin-bottom: 20px;
    cursor: pointer;
    
}




   .formulario .Dados-do-formulario{
	padding: 20px;
    margin-bottom: 10px;
    
}
    .formulario label{
	display:flexbox;
    text-align: center;
	font: 15px Arial, Helvetica, sans-serif;
	color: black;	
    }
    
   form{
       background-color: white;
       max-width: 700px;
       width:80%;
       padding:100px;
       position:absolute;
       left: 50%;
       top: 50%;
       transform: translate(-50%,-50%);

   }
  
   form label[type=Name]{
    width: 26%;
    top: 35%;
    left: 10%;
    position:fixed;
     
   }
   form label[type=Age]{
    width: 62%;
    top: 35%;
    left: 10%;
    position:fixed;
   }
   form label[type=Pais]{
    width: 97%;
    top: 35%;
    left: 10%;
    position:fixed;
   }
   form input[type=submit]{
       width: 15%;
       height:22px;
       cursor: pointer;
       background: #3498DB;
       color:white;
       border: 10px;
       border-radius: 5px;
       transition:1s;
   }
   form input[type=submit]:hover{
       background-color: #191970;
   }
   